# STAGING Environment Configuration
# Copy this file to terraform.tfvars and update values

project_id = "xometrydevops-training"
region     = "us-central1"


# Compute Configuration
instance_type  = "e2-small"
instance_count = 2


# Database Configuration
database_type    = "postgres"
database_version = "13"


