# PROD Environment Configuration
# Copy this file to terraform.tfvars and update values

project_id = "xometrydevops-training"
region     = "us-central1"


# Compute Configuration
instance_type  = "n2-standard-2"
instance_count = 3


# Database Configuration
database_type    = "postgres"
database_version = "13"


# Monitoring Configuration
alert_emails = ["ops@example.com", "dev@example.com"]
